<div class="skills-section">
  <div class="card">
    <h2>Habilidades</h2>
  </div>

  <div class="card">
    <form (ngSubmit)="AgregarSkill()">
      <label for="skill">Habilidad</label>
      <input
        type="text"
        id="skill"
        class="txt"
        name="skill"
        placeholder="Nombre de la habilidad"
        [(ngModel)]="mySkill.skill"
      />

      <label for="level">Nivel</label>
      <input
        type="text"
        id="level"
        class="txt"
        name="level"
        placeholder="Porcentaje"
        [(ngModel)]="mySkill.percentage"
      />

      <button type="submit" class="btn">{{ btntxt }}</button>
    </form>
  </div>

  <div class="card">
    <h3>Habilidades guardadas</h3>
    <div *ngFor="let item of skills" class="skill-container">
      <button class="btn danger" (click)="deleteSkill(item.id)">Eliminar</button>
      <button class="btn edit" (click)="editSkill(item)">Editar</button>
      {{ item.skill }} - {{ item.percentage }}
    </div>
  </div>
</div>
