<header>
    <h1>Admin-CV App</h1>
  </header>
  
  <nav>
    <ul>
      <li><a routerLink="/header" routerLinkActive="active">Header</a></li>
      <li><a routerLink="/workexperience" routerLinkActive="active">Work Experience</a></li>
      <li><a routerLink="/education" routerLinkActive="active">Education</a></li>
      <li><a routerLink="/certificates" routerLinkActive="active">Certificates</a></li>
      <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
      <li><a routerLink="/languages" routerLinkActive="active">Languages</a></li>
      <li><a routerLink="/interests" routerLinkActive="active">Interests</a></li>
    </ul>
  </nav>
  
  <main>
    <router-outlet></router-outlet>
  </main>